@import "./typography.scss";
@import "./utils.scss";

body {
  font-family: "SF Pro", sans-serif;
  touch-action: none;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
}

.q-btn {
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
}

.q-focus-helper{
  display: none;
}

.q-tab__content{
  .q-tab__label{
    font-size: 12px;
  }
}
.q-tab__indicator {
  display: none !important;
}

.q-input{
  .q-field__native{
    font-size: 16px;
  }
}

.flex-col {
  flex-direction: column;
}

.h-full {
  height: 100%;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}
