@import "./typography.scss";
@import "./utils.scss";

body {
  font-family: "SF Pro", sans-serif;
  touch-action: none;
}

* {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
}

.q-btn {
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
}
